<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ConsumeDao">
    <select id="getAll" resultType="com.entity.Consume">
        select id,roomid,name,cname,cunit,cprice,number,money,consumedate
        from consume order by id
    </select>

    <insert id="insert">
        insert into consume(id,roomid,name,cname,cunit,cprice,number,money,consumedate)
        values(#{id},#{roomid},#{name},#{cname},#{cunit},#{cprice},#{number},#{money},now())
    </insert>

    <select id="getByRoomId" resultType="com.entity.Consume">
        select id,roomid,name,cname,cunit,cprice,number,money,consumedate
        from consume where roomid = #{roomid}
        order by id
    </select>

    <delete id="delete">
        delete from consume where id = #{id}
    </delete>

</mapper>