<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.EmployeeDao">
    <select id="getAll" resultType="com.entity.Employee">
        select id,name,gender,birthday,idcard,email,phonenumber,address,position
        from employee order by id
    </select>
    <insert id="insert">
        insert into employee(id,name, gender, birthday, idcard, email, phonenumber, address, position)
        values (#{id},#{name},#{gender},#{birthday},#{idcard},#{email},#{phonenumber},#{address},#{position})
    </insert>
    <select id="getById" resultType="com.entity.Employee">
          select id,name,gender,birthday,idcard,email,phonenumber,address,position
        from employee where id = #{id}
        order by id
    </select>
    <update id="update">
        update employee set
        name = #{name},
        gender = #{gender},
        birthday = #{birthday},
        idcard = #{idcard},
        email = #{email},
        phonenumber = #{phonenumber},
        address = #{address},
        position = #{position}
        where id = #{id}
    </update>
    <delete id="delete">
        delete from employee where id = #{id}
    </delete>
</mapper>